<h1><%= markdown_to_html @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %> submitted
      <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>
    <p><%= markdown_to_html @post.body %></p>
    <% if policy(@post.comments).show? %>
    <h3> Comments </h3>
    <%= render @post.comments %>
     <% end %>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit Post", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
    <% if policy(Comment.new).create? %>
      <h3>Add a comment</h3>
      <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @post.comments.new} %>
    <% end %>
  </div>
</div>
